@import '../StyleVariables/StyleVariables';

.main-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    margin-bottom: 7vh;

    position:relative;
    top: 0;
    left: 0;

    //background-color: white;

    h1 {
        color: var(--primary-color-1);
        text-align: center;
        span {
            font-size: 200%;
            
        }
        text-shadow: -6px 6px var(--accent-color-1);
        margin-bottom: 2rem;
    }
    h2 {
        color: var(--accent-color-1);
        text-align: center;
    }
}



.call-to-action
{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: 8%;

    @keyframes call-action-appear-animation
    {
        0% {
            opacity: 0.8;
            transform: scale(0.5);
        }   
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    animation: call-action-appear-animation 1s ease-out forwards;
    animation-timeline: view();
    animation-range: 0% 25%;

    h1 {
        color: var(--accent-color-1);
        text-align: center;

        a {
            display: block;
            color: var(--primary-color-1);
            font-weight: bold;
            text-shadow: -4px 4px var(--accent-color-1);
            transition: transform 0.3s ease-out;

            transform: scale(1);
        }
        a:hover {
            transform: scale(1.1);
            
        }
    }
}