@import '../StyleVariables/StyleVariables';

@keyframes rotation-animation {
    0% {
        rotate: -6deg;
    }
    100% {
        rotate: 6deg;
    }
}

.wavey-rotation-animation
{
    animation: rotation-animation $alternate-animation-time alternate infinite ease-in-out;
}


@keyframes translate-up-animation {
    0% {
        translate: 0 0;
    }
    100% {
        translate: 0 -10px;
    }
}

.wavey-translate-y
{
    animation: translate-up-animation $alternate-animation-time alternate infinite ease-in-out;
}